// responsive

// mobile < 740px
@media only screen and (max-width: 739px) {
    .wrapper {
        padding: 1.6rem;
    }
    .container {
        width: 100%;
        height: 54rem;
    }
    .emoji {
        & > div {
            top: 5rem;
            right: 0%;
        }
        & > em-emoji-picker {
            width: 20rem;
            height: 36rem;
            background-color: transparent;
        }
    }
    .wrapper-import {
        height: 23rem;
    }
}
// tablet (740px - 1024px)
@media only screen and (min-width: 740px) and (max-width: 1023px) {
    .wrapper {
        padding: 1.6rem;
    }
    .container {
        width: 50rem;
        height: 54rem;
    }
    .emoji {
        & > div {
            top: 5rem;
            right: -25%;
        }
    }
    .wrapper-import {
        height: 23rem;
    }
}
// desktop >= 1024px
@media only screen and (min-width: 1024px) and (max-width: 1399px) {
    .wrapper {
        min-height: 89vh;
    }
    .container {
        width: 50rem;
        height: 60rem;
    }
    .emoji {
        & > div {
            top: 5rem;
            right: -25%;
        }
    }
    .wrapper-import {
        height: 25rem;
    }
}
//  > 1400
@media only screen and (min-width: 1400px) {
    .wrapper {
        min-height: 89vh;
    }
    .container {
        width: 50rem;
        height: 60rem;
    }
    .emoji {
        & > div {
            top: 5rem;
            right: -25%;
        }
    }
    .wrapper-import {
        height: 25rem;
    }
}
.wrapper {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.09);
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    border: 2px solid rgba(255, 255, 255, 0.7);
    border-radius: 2.4rem;
}
.title {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 1.6rem;
    border-bottom: 1px solid rgba(47, 48, 49, 0.3);
    padding: 1.6rem 1.6rem 8px;
    & > h3 {
        flex: 1;
        font-size: 3rem;
        text-align: center;
    }
}

.care {
    display: flex;
    align-items: center;
    justify-content: center;
}
// post
.post {
    width: 100%;
    height: 100%;
    padding: 1.6rem;
    position: relative;
}
// header
.header {
    display: flex;
    gap: 1.6rem;
    padding-bottom: 8px;
    border-bottom: 1px solid rgba(47, 48, 49, 0.3);
}
.avatar {
    width: 5rem;
    height: 5rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    & > img {
        width: 100%;
        height: 100%;
    }
}
.profile {
    display: flex;
    flex-direction: column;
    gap: 4px;
    color: var(--primary);
}

.status {
    display: flex;
    font-size: 1.8rem;
    gap: 8px;
    background-color: transparent;
    width: 11rem;
    padding: 0;
}

// body
.body {
    flex: 1;
    width: 100%;
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}
.write {
    position: relative;
}
.content {
    width: 100%;
    margin-top: 8px;
    min-height: 5rem;
    padding: 1.6rem 5rem 1.6rem 1.6rem;
    font-size: 1.3rem;
    line-height: 1.5;
    border: 1px solid rgba(0, 0, 0, 0.2);
    caret-color: var(--primary);
    outline: none;
    border-radius: 8px;
}
.content[contenteditable='true']:empty::before {
    content: attr(
        data-placeholder
    ); /* Lấy nội dung placeholder từ thuộc tính data-placeholder */
    color: #999; /* Màu của placeholder */
    pointer-events: none; /* Ngăn chặn người dùng click vào placeholder */
}
.emoji {
    & > div {
        position: absolute;
        z-index: 32;

        & > em-emoji-picker {
            width: 28rem;
            height: 30rem;
            background-color: var(--white-color);
        }
    }
}
.btn-Emoji {
    font-size: 4rem;
    color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 15px;
    right: 1rem;
}

// import
.import {
    width: 100%;
    & > input {
        display: none;
    }
}
.wrapper-import {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1.8rem;
    border-radius: 1.6rem;
    overflow: hidden;
    position: relative;
    & > div {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
        overflow: hidden;
        & > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        & > button {
            position: absolute;
            top: -9px;
            right: -2px;
            font-size: 3rem;
            z-index: 31;
        }
    }
}
.take {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 100%;
    min-height: 100%;
    color: var(--white-color);
    font-size: 5rem;
    border-radius: 8px;
    background-color: #999;
    z-index: 30;
    & > p {
        font-size: 1.8rem;
    }
}
.footer {
    width: 100%;
    padding: 1.6rem;
    position: absolute;
    bottom: 6rem;
    left: 0;
    & > button {
        background-color: transparent;
    }
    & > span {
        position: absolute;
        display: none;
        top: 2.5rem;
        left: 4rem;
        font-size: 3rem;
        color: var(--primary);
    }
}
.footer > span.rotate {
    display: block; /* Hiển thị khi có class rotate */
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
