.wrapper {
    width: 100%;
    height: var(--height-header-learning-wrapper);
    padding: 0 2.4rem;
    display: flex;
    align-items: center;
    background: linear-gradient(to right, #a1afbe, #bdc3c7);
    color: var(--white-color);
    z-index: 20;
}
.header {
    height: 100%;
    display: flex;
    gap: 1.6rem;
    align-items: center;
}
.header-onBack {
    display: flex;
    align-items: center;
}
.back-btn {
    font-size: 3rem;
    display: flex;
    align-items: center;
    color: var(--white-color);
}
.logo {
    width: 4rem;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    & > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.course-title {
    font-size: 1.8rem;
    font-weight: 600;
}
