.wrapper {
    display: flex;
    flex-direction: column;
    padding: 1.2rem 2rem;
    min-width: 25rem;
    background-color: #e8ebed;
    border-radius: 8px;
    gap: 1.6rem;
}
.large {
    width: 35rem;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.6rem;
}
.title {
    font-weight: 400;
}
.extend {
    color: var(--primary);
}
