.wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 37;
    background-color: rgba(24, 25, 26, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}
.inner {
    max-width: min(420px, 100% - 32px);
    width: 100%;
    min-height: 30rem;
    background-color: var(--white-color);
    border-radius: 2.4rem;
    padding: 10px 30px 30px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.btn-close {
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: #999;
    & > :hover {
        color: rgb(24, 25, 26);
    }
}
.header {
    display: flex;
    flex-direction: column;
    gap: 8px;
    & > h3 {
        font-weight: 400;
        font-size: 2.4rem;
        color: var(--primary);
    }
    & > p {
        color: #747373;
        list-style: 1.5;
    }
}
.body {
    width: 100%;
    & > p {
        color: #747373;
        margin-bottom: 8px;
    }
    & > input {
        width: 100%;
        height: 4.5rem;
        font-size: 1.6rem;
        padding: 12px 42px 12px 20px;
        border: 1px solid var(--primary);
        border-radius: 8px;
    }
}
.action {
    margin-top: 1.6rem;
    & > button {
        width: 100%;
        height: 100%;
    }
}
